:root {
    --text_color: rgb(27, 28, 35);
    --highlight_color: rgb(186, 23, 99);
    --visited_color: rgb(96, 96, 96);
    --link_color: rgb(0, 30, 255);
}
* {
    padding: 10px 10px;
    margin: 10px;
}
*::first-letter {
    color:rgb(161, 201, 0)
}
body {
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(205, 232, 255);
    color: var(--text_color);
    border-radius: 5px;
    border-color: rgb(215, 85, 30);
    border-style: ridge;
}
body > h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    color: rgb(50, 43, 43);
}
h2::first-letter, h3::first-letter {
    font-family: sans-serif;
    font-style: italic;
}
h2 > p{
    font-family: cursive;
    text-decoration: wavy;
    font-style: oblique;
}
h3,h4,h5,h6{
    font-family: fantasy;
    text-decoration: wavy;
    font-style: oblique;
}
body > img {
    flex: 0 1 50%;
}
body > p {
    flex: 0 1 50%;
}
table {
    border: .5px solid rgb(56, 101, 0);
}
th,td {
    border:1.5px groove rgb(0, 101, 98);
}
img {
    max-width: 20vw;
}
audio {
    max-width: 40 vw;
    margin: 10px 10px;
}
video {
    width: 40vw;
    padding: 15px 15px;
    margin: 10px 10px;
    background-color: rgb(255, 171, 135);
}
label {
    display:inline-block;
    width:150px;
}
ul {
    list-style-type:armenian;
}
#img_and_name {
    display:flex;
    align-items: center;
    flex-wrap: wrap;
}
#image_hold {
    flex: 0 1 auto;
}
#name_hold {
    flex: 0 1 auto;
    text-align: left;
}
#resume {
    background-color: rgb(249, 215, 171);
}
#career_goals {
    background-color: rgb(252, 158, 158);
}
#links {
    font-size: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
}
.helping_links {
    font-size: 14px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
}
a:hover {
    background-color:rgb(186, 23, 99)
}
a:visited {
    color: var(--visited_color);
}
a:link {
    color: var(--link_color);
}