:root {
    --text_color: rgb(27, 28, 35);
    --highlight_color: rgb(186, 23, 99);
    --visited_color: rgb(96, 96, 96);
    --link_color: rgb(0, 30, 255);
}

body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(205, 232, 255);
    padding: 10px 5px;
    margin: 10px;
    color: var(--text_color);
    border-radius: 5px;
    border-color: rgb(215, 85, 30);
    border-style: ridge;
}

#resume {
    background-color: rgb(249, 215, 171);
}

#links {
    font-size: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: underline rgb(249, 249, 47);
    font-style: italic;
}

.name {
    float: left;
}

.side_info {
    float: right;
}

body > h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    color: rgb(50, 43, 43);
}

h1::first-letter {
    font-family: sans-serif;
}

h2 > p{
    font-family: cursive;
    text-decoration: wavy;
    font-style: oblique;
}

h3,h4,h5,h6{
    font-family: fantasy;
    text-decoration: wavy;
    font-style: oblique;
}

a:hover {
    color: var(--highlight_color);
}

a:visited {
    color: var(--visited_color);
}

a:link {
    color: var(--link_color);
}